@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Serif", serif;

  --color-primary: #735c00;
  --color-primary-container: #d4af37;
  --color-background: #fcf9f8;
  --color-surface: #fcf9f8;
  --color-on-background: #1c1b1b;
  --color-on-surface: #1c1b1b;
  --color-outline-variant: #d0c5af;
}

@layer base {
  body {
    @apply bg-background text-on-background font-sans selection:bg-primary-container/30;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

